// Colors
// - Primary
$Softblue: hsl(215, 51%, 70%);
$Cyan: hsl(178, 100%, 50%);

// - Neutral
$VerydarkblueMainBG: hsl(217, 54%, 11%); // (main BG)
$VerydarkbluecardBG: hsl(216, 50%, 16%); // (card BG)
$Verydarkblueline: hsl(215, 32%, 27%); // (line)
$White: hsl(0, 0%, 100%);